body {
    background-image: url(Background.jpg);
    background-size: cover;
}

h2 {
    color: #123652;
    text-align: center;
    border: 5px solid #8080B3;
    cursor:pointer;
}

p {
    color: #553100;
}

li {
    list-style: none;
    display:inline-block;
}