body {
    background-image: url(Background.jpg);
    background-size: cover;
}

h2 {
    color: #123652;
    text-align: center;
    border: 5px solid #8080B3;
    cursor:pointer;
}

p {
    color: #553100;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight:900;

}

li {
    list-style: none;
    display:inline-block;
}